<div class="chat-layout">
  <div class="user-list-container">
    <app-user-list (userSelected)="onUserSelected($event)"></app-user-list>
  </div>
  <div class="chat-container" *ngIf="selectedRecipient">
    <div class="chat-header" style="position: relative; text-align: center;">
      <div style="display: inline-block;">
        <h2>Chat with {{ selectedRecipient.username }}</h2>
      </div>
      <button mat-button color="warn" (click)="logout()" style="position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
        Logout
      </button>
    </div>
    <div #messagesContainer class="messages-container">
      <mat-list>
        <div *ngFor="let message of messages" class="message-item" [ngClass]="{'my-message': message.senderId === currentUser.userId, 'their-message': message.senderId !== currentUser.userId}">
          <div class="message-bubble">
            {{ message.content }}
          </div>
        </div>
      </mat-list>
    </div>
    <app-chat-input [recipient]="selectedRecipient"></app-chat-input>
  </div>
</div>
